[user]
  name = David Chen
  email = mvjome@gmail.com
[color]
  status = auto
  branch = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitexcludes
[github]
  user = mvj3
  ;token = modify_me_with_real_API_Token
[alias]
  st = status
  ci = commit
  co = checkout
  gb = branch
  gba = git branch -a
  gc = git commit -v
  gd = git diff | mvim
  gl = git pull
  gp = git push
  gst = git status
  br = branch
  df = diff
  lg = log -p
  msg = commit --allow-empty -m
[apply]
  whitespace = nowarn
