[mysql]
default-character-set=utf8
prompt="(\\u:@\\h:\R:\m:\\s)[\\d]> "
[mysqld]
character-set-server		= utf8
default-character-set		= utf8
collation_server=utf8_unicode_ci
default-collation=utf8_unicode_ci
skip-character-set-client-handshake
skip-networking
